{% extends "base.html" %}

{% block title %}Current Weather{% endblock %}

{% block content %}
  <div class="weather-container">
    <h1>Current Weather for {{ forecast.location.name }}</h1>
    <img class="current-weather-icon" src="{{ forecast.current.condition.icon }}" alt="Weather Icon">
    <p class="current-weather-description">{{ forecast.current.condition.text }}</p>
    <p class="current-temperature">{{ forecast.current.temp_c }}°C</p>
    <p class="current-wind">Wind: {{ forecast.current.wind_kph }} km/h
      <span class="current-wind-direction" style="display: inline-block;
                transform: rotate({{ forecast.current.wind_degree }}deg);
                transition: transform 0.5s ease;">&#8593;
      </span>
    </p>
  </div>
{% endblock %}

